video {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}
.video-controls {
	padding: 1px;
	background: rgba(0, 0, 0, 0.35);
}
.custombtn {
	padding: 5px 0;
	width: 31px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.slider {
	z-index: -1;
	background-color: lightsteelblue;
	-webkit-appearance: none;
	width: 100%;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	height: 8px;
	cursor: pointer;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-bottom: 1px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #f00;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #f00;
	cursor: pointer;
}
