<div class="container" id="videoContainer">
	<h2>Event : <%= clipParams.clipFolder %></h2>
	<hr />
	<div id="buttons" class="video-controls">
		<button
			id="skipbackward"
			onclick="skipVideoBackward()"
			class="btn btn-backward custombtn"
		>
			<span class="fa fa-undo"></span>
		</button>
		<button id="play" onclick="playVideo(this)" class="btn btn-play custombtn">
			<span class="fa fa-play"></span>
		</button>
		<button
			id="pause"
			onclick="pauseVideo()"
			style="display: none;"
			class="btn btn-pause custombtn"
		>
			<span class="fa fa-pause"></span>
		</button>
		<button
			id="skipforward"
			onclick="skipVideoForward()"
			class="btn btn-forward custombtn"
		>
			<span class="fa fa-redo"></span>
		</button>
		<!-- <button
			id="accelerate"
			onclick="accelerateVideo()"
			class="btn btn-accelerate custombtn"
		>
			<span class="fa fa-fast-forward"></span>
		</button> -->
		<button id="stop" onclick="stopVideo()" class="btn btn-stop custombtn">
			<span class="fa fa-stop"></span>
		</button>
	</div>
	<input id="progress" class="seekbar" value="0" type="range" min="0" max="100" onchange="changeVideoPosition()"></input>
	<div class="row no-gutters">
		<div class="col pr-sm-1 pb-sm-1">
			<video id="videoleftrepeater" preload="metadata"></video>
		</div>
		<div class="col pr-sm-1 pb-sm-1">
			<video id="videofront" preload="auto"></video>
		</div>
		<div class="col pr-sm-1 pb-sm-1">
			<video id="videorightrepeater" preload="metadata"></video>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col pr-sm-1 pb-sm-1"></div>
		<div class="col pr-sm-1 pb-sm-1">
			<video id="videoback" preload="metadata"></video>
		</div>
		<div class="col pr-sm-1 pb-sm-1"></div>
	</div>
</div>
<script>
	let baseVideoUrl =
		'/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>';
	$(document).ready(() => {
		loadVideos(baseVideoUrl);
	});
</script>
