<div class="container-fluid" id="homeContainer">
	<h2>Tesla video analyzer</h2>
	<hr />
	<div class="row">
		<div class="form-group col-md-12">
			<p>
				This is a responsive site based on bootstrap 4 framework.
			</p>
			<p>
				You can find the complete code on
				<a href="https://github.com/kirikou974/teslasentryjs" target="_blank">
					Github</a
				>.
			</p>
		</div>
		<div class="form-group col-md-12">
			<iframe
				src="https://ghbtns.com/github-btn.html?user=kirikou974&repo=teslasentryjs&type=star&count=true&size=large"
				frameborder="0"
				scrolling="0"
				width="140px"
				height="30px"
			></iframe>
			<iframe
				src="https://ghbtns.com/github-btn.html?user=kirikou974&repo=teslasentryjs&type=fork&count=true&size=large"
				frameborder="0"
				scrolling="0"
				width="140px"
				height="30px"
			></iframe>
		</div>
	</div>
</div>
