<h2>
	<div class="row">
		<div class="col">
			Import clips
		</div>
	</div>
</h2>
<hr />
<div class="row">
	<div class="col col-sm-5">
		<form action="/import/upload" enctype="multipart/form-data" method="post">
			<input
				type="file"
				webkitdirectory
				mozdirectory
				accept="image/*"
				name="upload"
			/>
			<input type="submit" value="upload" />
		</form>
	</div>
</div>
