<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>Tesla video analyzer</title>

		<!-- Bootstrap core CSS -->
		<link href="../../css/bootstrap.min.css" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="../../css/dashboard.css" rel="stylesheet" />
	</head>

	<body>
		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"
				>Tesla video analyzer</a
			>
			<!-- <input
				class="form-control form-control-dark w-100"
				type="text"
				placeholder="Search"
				aria-label="Search"
			/> -->
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<h6
							class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
						>
							<a class="d-flex text-muted" href="/">
								<span>Report</span>
							</a>
							<a class="d-flex align-items-center text-muted" href="/">
								<span data-feather="activity"></span>
							</a>
						</h6>
						<h6
							class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
						>
							<a
								class="d-flex text-muted"
								data-toggle="collapse"
								data-target="#sentryClips"
								href="#"
							>
								<span data-feather="arrow-down"></span>
								<span> Sentry clips</span>
							</a>
							<a
								class="d-flex align-items-center text-muted"
								data-toggle="collapse"
								data-target="#sentryClips"
								href="#"
							>
								<span data-feather="eye"></span>
							</a>
						</h6>
						<ul class="nav flex-column collapse show" id="sentryClips">
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="file"></span>
									Event1
								</a>
							</li>
						</ul>

						<h6
							class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
						>
							<a
								class="d-flex text-muted"
								data-toggle="collapse"
								data-target="#savedClips"
								href="#"
							>
								<span>Saved clips</span>
							</a>
							<a
								class="d-flex align-items-center text-muted"
								data-toggle="collapse"
								data-target="#savedClips"
								href="#"
							>
								<span data-feather="video"></span>
							</a>
						</h6>
						<ul class="nav flex-column mb-2 collapse show" id="savedClips">
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="file"></span>
									Event1
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<!-- <div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
					>
						<h1 class="h2">Report</h1>
					</div> -->

					<canvas
						class="my-4 w-100"
						id="myChart"
						width="900"
						height="380"
					></canvas>
				</main>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../js/jquery-3.4.1.min.js"></script>
		<script src="../../js/popper.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>

		<!-- Icons -->
		<script src="../../js/feather.min.js"></script>
		<script>
			feather.replace();
		</script>

		<!-- Graphs -->
		<script src="../../js/Chart.min.js"></script>
		<script>
			window.chartColors = {
				red: 'rgb(255, 99, 132)',
				orange: 'rgb(255, 159, 64)',
				yellow: 'rgb(255, 205, 86)',
				green: 'rgb(75, 192, 192)',
				blue: 'rgb(54, 162, 235)',
				purple: 'rgb(153, 102, 255)',
				grey: 'rgb(201, 203, 207)'
			};
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: [
						'Sunday',
						'Monday',
						'Tuesday',
						'Wednesday',
						'Thursday',
						'Friday',
						'Saturday'
					],
					datasets: [
						{
							label: 'Sentry clips',
							data: [10, 3, 2, 1, 4, 6, 9],
							lineTension: 0,
							backgroundColor: 'transparent',
							borderColor: window.chartColors.red,
							borderWidth: 2,
							cubicInterpolationMode: 'monotone',
							pointBackgroundColor: window.chartColors.red
						},
						{
							label: 'Saved Clips',
							data: [1, 2, 0, 5, 2, 1, 0],
							lineTension: 0,
							backgroundColor: 'transparent',
							borderColor: window.chartColors.blue,
							pointBackgroundColor: window.chartColors.blue,
							borderWidth: 2
						}
					]
				},
				options: {
					responsive: true,
					tooltips: {
						mode: 'index'
					},
					scales: {
						xAxes: [
							{
								display: true,
								scaleLabel: {
									display: true
								}
							}
						],
						yAxes: [
							{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Value'
								}
							}
						]
					}
				}
			});
		</script>
	</body>
</html>
