<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/header', clipParams) -%>
	<body>
		<div class="page-wrapper chiller-theme toggled">
			<%- include('../partials/menu', menuItems) -%>

			<!-- sidebar-wrapper  -->
			<main class="page-content">
				<%- include('../contents/' + pageName) -%>
			</main>
			<!-- page-content" -->
		</div>
		<!-- page-wrapper -->
		<%- include('../partials/footer') -%>
	</body>
</html>
